<script type="text/javascript">
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<span id="addToFavs">
    @Ajax.ActionLink(" Remove from favorites", "RemoveFromFavorites", "UserManagement", new { id = ViewBag.TutorialID }, new AjaxOptions() { UpdateTargetId = "addToFavs", HttpMethod = "POST", InsertionMode = InsertionMode.ReplaceWith }, new { @class = "fa fa-minus-square-o", @data_toggle = "tooltip", @data_placement = "top", @title = "Remove from favorites" })
</span>