<span id="addSub">
    @Ajax.ActionLink(" Unsubscribe", "Unsubscribe", "UserManagement", new { name = ViewBag.UserName }, new AjaxOptions() { UpdateTargetId = "addSub", HttpMethod = "POST", InsertionMode = InsertionMode.ReplaceWith }, new { @id = "video-userinfo-unsubscribe", @class = "sub-btn fa fa-user-times toUnsubscribe", @data_toggle = "tooltip", @data_placement = "top", @title = "Unsubscribe from user" })
</span>


