<span id="addSub">
    @Ajax.ActionLink(" Subscribe", "Subscribe", "UserManagement", new { name = ViewBag.UserName }, new AjaxOptions() { UpdateTargetId = "addSub", HttpMethod = "POST", InsertionMode = InsertionMode.ReplaceWith }, new { @id = "video-userinfo-subscribe", @class = "sub-btn fa fa-user-plus toSubscribe", @data_toggle = "tooltip", @data_placement = "top", @title = "Subscribe to user" })
</span>

